
<div class="content_wrapper">
  <div class="window_wrapper">
    <img src="/misc/SOTF-white-logo.png">
    
    <div class="login-styling">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <div class="login-field">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
        
        <div class="login-field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <br />

        <div class="login-field login-field-no-top-margin">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="login-field login-field-no-top-margin">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        
        <div class="signup-shared-links">
          <%= render "devise/shared/links" %>
        </div>
        
        <div class="actions">
          <%= f.submit "Sign up", :id => "login-submit-button" %>
        </div>
      <% end %>

      </div>
  </div>
</div>
