<div class="accountpage-wrapper">

  <div class="accountpage-info-window">
    <h1><%= current_user.username %></h1>

    <h1><%= current_user.rank.capitalize %></h1>
    <div class="accountpage-progressbar">
      <div class="accountpage-progressbar-int" style=<%=@progress_bar_style %>>
      </div>
    </div>
    
    <div class="accountpage-winlossgrid">
      <div class="accountpage-winlossgrid-winheader">Wins</div>
      <div class="accountpage-winlossgrid-lossheader">Losses</div>
      <div class="accountpage-winlossgrid-wins"><%= current_user.wins %></div>
      <div class="accountpage-winlossgrid-slash">/</div>
      <div class="accountpage-winlossgrid-losses"><%= current_user.losses %></div>
    </div>
    
    <h3>Top Ten Players:</h3>
    <ul>
    <% counter = 0 %>
    <% @top_ten.each do |player| %>
      <% counter += 1 %>
      <li><%= counter %>) <%= player.username %></li>
    <% end %>
    </ul>
    
  </div>

</div>
