<div class="content_wrapper">
  <div class="window_wrapper">
    <img src="/misc/SOTF-white-logo.png" class="instructions-headerImage">
    
    <div class="login-styling">

      <h2 id="forgot-password-heading">Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="login-field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :id => "password-reset-email-field" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", :id => "password-reset-button" %>
        </div>
      <% end %>
      <div class="login-shared-links password-forgot-login-shared-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
